# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
*.egg
build/
dist/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# Data files
*.csv
*.json
*.log
*.db

# Model files
models/
*.pth
*.h5

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.out
*.err